---
layout: base
title: jwdebruijn - Freelance Business Analist
---



    
    <div id="intro" class=" md:flex md:justify-between  md:items-center md:columns-2 md:gap-8 ">
        <div class="min-h-screen md:max-w-prose md:mx-auto  flex flex-col place-content-center px-4 py-2 md:px-8 md:py-6">
            <div class='py-20'>
            <h1 class='font-headings text-2xl text-slate-600'>Jan Willem (JW) de Bruijn</h1>
            <h2 class='text-lg font-copy text-focus-in'>Freelance <br /> <span class="underline underline-offset-4 decoration-sky-200 decoration-4 text-focus-in  ">Business Analist</span></h2>
            <p class='font-copy text-focus-in-delay'>
          Business Analist / IT Consultant met ruime ervaring op het snijvlak van business en ICT. <br /> Analytisch sterk, conceptueel denker, pragmatische teamspeler.
             </p>
           </div>

           <div class='flex items-center mx-auto text-sm text-slate-700'>
                <div class=''>

                
                {% for i in site.data.nav  %}
                    <a href="{{ i.link }}" class="text-focus-in-delay mx-3  {% if i.link == page.url or i.name == 'blog' %} hidden {%endif%} font-light">{{ i.name }}</a>
                {% endfor %}</p>
                </div>            
            </div>
        </div>
    </div>   
  
        
        
       

       




   

    



