 <nav class="bg-white flex items-center justify-between p-8">
      
     
      <div class="text-slate-700">
         <a href="/">
            <div class="">
                <h1 class="font-bold text-slate-700  lowercase">JW </h1>
               
            </div>
       </a>
      </div>

        <div>
            <ul class="flex">
                {% for item in site.data.nav %}
                    <li class="mr-1 p-2 list-none">
                        <a href="{{ item.link }}" class='inline-block text-slate-700  {% if item.link == page.url %} active{%endif%}'>
                        {{ item.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
      </div>
    </nav>