<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">  
 
    
    <script src="/assets/js/alpine.js" defer></script>
    <script src="/assets/js/feather-icons.js"></script>
   
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    
   
</head>
<body class='bg-slate-50'>
  
   
        <header>
            {% include nav2.html %}
        </header>
        <div class="container min-w-5xl mx-auto px-8">
            <main>
                {{ content }}
                
            </main>
             
        </div>
    

        <footer class="bg-slate-700 text-slate-50">
        {% include footer.html %}
        </footer>
    




    
     <script>
      feather.replace()
    </script>
    
</body>
</html>